# Notebooks ficam fora do commit inicial
*.ipynb

# Segredos e ambiente
.env
*.env

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Artefatos treinados
models/*.joblib

# Ambientes virtuais
venv/
.venv/

# Sistema
.DS_Store
Thumbs.db
